#header {
    background-color: rgba(13, 110, 253, 0.25) !important;
}

.border-radius-50{
    border-radius: 50%;
}

.header-title{
    padding-left: 5px;
    font-family: cursive;
    font-size: larger;
    font-weight: bold;
    color: grey;
}

.menu-align{
    flex-basis: 100%;
    align-items: center;
    flex-grow: 0;
}


